<div class="card text-center">
  <div class="card-header">
    <h1>Welcome back!</h1>
  </div>
  <div class="card-body">
    <h5 class="card-title">Your current portfolio</h5>
    <div>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Token</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <th scope="col">Value</th>
          <th scope="col">Quantity to SELL</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody [formGroup]="sellForm">
        <tr *ngFor="let myportfolio of myPortfolios; index as i">
          <td>{{myportfolio.asset_id}}</td>
          <td>{{myportfolio.price_usd}}</td>
          <td>{{myportfolio.quantity}}</td>
          <td>{{myportfolio.value}}</td>
          <td>
            <input type="text" formControlName="quantity">
          </td>
          <td>
            <button type="button"
                    class="btn btn-primary btn-danger"
                    (click)="sellToken(i)"
            >
              Sell
            </button>
          </td>
        </tr>
        </tbody>

      </table>
    </div>
    <div class="card-footer">
      <h3>Total value: <span>{{total_value}}</span> </h3>
    </div>
  </div>
</div>
