<div class="container">

  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col"></th>
        <th scope="col">Token</th>
        <th scope="col">Price (USD)</th>
      </tr>
    </thead>
    <tbody class="table-striped" *ngFor="let asset of assets; index as i">
      <tr>
        <td>{{i}}</td>
        <td>{{asset.asset_id}}</td>
        <td>{{asset.price_usd}}</td>
        <td>
          <button type="button" class="btn btn-rounded btn-success" > Buy </button>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-success" (click)="refreshPrice()">Refresh Price</button>
</div>


